label{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    
}
input{
    display: block;
    font-size: 18px;
    width: 100%;
    padding: 7px;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper{
    width: 30%;
}
button{
    width: 30%;
    height: 40px;
}